@model Library_System_Web.ViewModels.Home.Index
@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="col-8">
        <h3>Welcome to the Library! Check out our featured books</h3>
    </div>
</div>
<img id="searchgif" class="d-none" src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bxdvwuqc8pcid19k19wcqd45j5v8e932pcn0s9d06&rid=200w.gif&ct=g" />
<div id="booklist">
    @await Html.PartialAsync("/Views/Books/_BookResults.cshtml", Model.FeaturedBooks)
</div>

<button id="showFeaturedButton" class="btn btn-secondary d-none" onclick="SearchForBook(true)">Show Featured Books</button>