@model Library_System_Web.ViewModels.Home.Index
@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="col-8">
        <h3>Welcome to the Library! Check out our featured books</h3>
    </div>
</div>

<div class="row">
    @foreach (var book in Model.FeaturedBooks)
    {
        <div class="col-sm-3 py-3">
            @await Html.PartialAsync("/Views/Books/_BookCard.cshtml", book)
        </div>
        @*<div class="col-3">
                @if (!string.IsNullOrEmpty(book.ImagePath))
                {
                    <img src="@book.ImagePath" />
                }
                <a href="./Books/Details?ISBN=@book.Isbn">
                    @book.Title
                </a>
            </div>*@
    }
</div>